<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.forestofficerapp">

    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_removebg_preview"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_removebg_preview"
        android:supportsRtl="true"
        tools:replace="android:allowBackup"
        android:theme="@style/Theme.Vanrakshak">
        <activity android:name=".LoginOptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterEmailActivity"></activity>
        <activity android:name=".RegisterOtpActivity"></activity>
        <activity android:name=".RegisterPasswordActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ReportListActivity"></activity>
        <activity android:name=".ReportActivity"></activity>
        <activity android:name=".TaskListActivity"></activity>
        <activity android:name=".TaskActivity"></activity>
        <activity android:name=".AnimalListActivity"></activity>
        <activity android:name=".AlertListActivity"></activity>
        <activity android:name=".MapActivity"></activity>
        <service android:name=".AnimalService"/>
        <service
            android:name=".ForestService"
            android:enabled="true">
        </service>
        <receiver
            android:name=".ForestReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>
    </application>

</manifest>